%h2
  Se produjo un error al intentar salvar la transaccion
%p
  El error se produce por que grapi no pudo salvar la transaccion en la BD se adjunta error
%hr
%h4
  %b
    Error:
%p
  = @error
%hr
%h4
  %b
    Transaccion:
%p
  = @obj_js
%h4
  %b
    Solucion:
%p
  Deberan cargar el obj json en un nuevo objeto Payment y salvar
%p
  Ejemplo
%p
  = "Payment.create(#{@obj_js})"